# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/js/Animation.js
/js/Animation.js.map
/doc/css.md
/doc/extend.md
/doc/faq.md
/doc/html.md
/doc/js.md
/js/main.js
/js/main.js.map
/js/Matrix.js
/js/Matrix.js.map
/js/MatrixCanvas.js
/js/MatrixCanvas.js.map
/doc/misc.md
/package-lock.json
/js/Pixel.js
/js/Pixel.js.map
/js/PixelContainer.js
/js/PixelContainer.js.map
/tile.png
/tile-wide.png
/doc/TOC.md
/doc/usage.md
/js/AnimationTest.js.map
/js/MatrixWLED.js
