/* Your app custom styles here */
.ledder-display {
    background: black;
    border-style: solid;
    border-color: gray;
    border-width: 0px;
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
    cursor: pointer;

}

.ledder-display-box
{
    position: absolute;
    right: 0;
    top: 0;

    /* set in DisplayCanvas.ts */
    /* height: 128px;
    width: 640px; */

        z-index:10000;

    padding: 0;
}

.ledder-preview-image
{
    background: black !important;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */

    /*height: 20px;*/
    height: 24px;
}

.ledder-display-zoom
{
    position: fixed;
    width: 100%;
    height: auto !important;
    bottom: 0;
    left: 0;
}

.error
{
    --f7-toast-bg-color: red;
}

.info
{
    --f7-toast-bg-color: green;
}

:root
{
    --f7-menu-bg-color: #007aff;
}
